# Logs
logs
*.log

# IDE config
.idea

# output
output/
output.tar.gz

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

.DS_Store
package-lock.json

# IDE config
.idea
.scannerwork

# output
output/
output.tar.gz

runtime/
app/

www/azurlane-assets/spine
config/adapter.model.js
config.development.js
adapter.development.js

package-lock.json

sonar-project.properties
